<div class="profile-block">
  <div class="d-flex justify-content-center mgt-30 body2 ">
    <h4>User Profile</h4>
  </div>

  <div class="row d-flex justify-content-center mgt-30 body3">
    <div class="col-md-3">
      <img
        class=" ava"
        src="assets/img/default-avatar.png"
        weight="70"
        height="150"
        hspace="45"
      />
    </div>
  </div>

  <hr />

  <div class=" d-flex justify-content-center mgt-30 body3">
    <div class="col-md-2">
      <p class="txt-grey">Account:</p>
      <p class="txt-grey">Job:</p>
    </div>

    <div class="col-md-8">
    <!-- *ngFor= "let user of userProfile" -->
      <p>Thucnv</p>
      <p>Student</p>
      <!-- <p>Developer</p> -->
    </div>
  </div>
</div>

